<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <form>
                <img src="/assets/images/loginIcon.png"  width="200" height="200">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" [(ngModel)]="username" required>
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" [(ngModel)]="password" required>
                <button routerLink="/dashboard"(click)="getLogin()">Login</button>
                <a>Forget Password?</a>
        </form>
    </div>
</body>
</html>